.produto-destaque {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.produto-destaque h2 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
}

.produto-destaque > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.produto {
  background-color: white;
  border: 2px solid var(--text-color);
  border-radius: 12px;
  width: 16rem;
  height: 28rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.produtoImg {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

#produtos-promocao {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 16px 0;
  flex-grow: 1;
}

#produtos-promocao::-webkit-scrollbar {
  height: 8px;
}

#produtos-promocao::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.produto .produtoNome {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

.produtoPreco {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.preco-original {
  font-size: 16px;
  text-decoration: line-through;
  color: #777;
}

.preco-desconto {
  font-size: 18px;
  color: var(--text-color);
  font-weight: bold;
}

.tag-desconto {
  background-color: var(--text-color);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.produto-parcelamento {
  font-size: 14px;
  color: #555;
}

button#prev-button,
button#next-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  height: 100%;
}

button#prev-button img,
button#next-button img {
  width: 32px;
}

button#next-button img {
  transform: rotate(0deg);
}

button#prev-button img {
  transform: rotate(180deg);
}

button.comprar {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

button.comprar:hover {
  background-color: #000000ce;
}
